<div class="navbar-header fixed-top">
    <nav class="navbar" style="background-color: #00ACC1;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/adoption.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                <span>&nbsp; DHP</span>
                <p style="font-size: 10px;">Turn your click into rescue </p>
            </a>

            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="">Home</a>
            </div>
        </div>
    </nav>
</div>


<div class="row" id="howitworksfaq">
    <div class="col-12">
        <div class="timeline">

            <div class="container left-container" id="timelinecontainer">
                <img src="../../assets/images/trusted.png" alt="" srcset="">
                <div class="text-box">
                    <h2>Click on link</h2>
                    <p>You've clicked on our referral links provided to purchase online through your installed
                        applications
                    </p>
                </div>
            </div>

            <div class="container right-container" id="timelinecontainer">
                <img src="../../assets/images/order.png" alt="" srcset="">
                <div class="text-box">
                    <h2>Order successful</h2>
                    <p>You've placed your order successfully from your application installed or through your account
                        securely.
                    </p>
                </div>
            </div>

            <div class="container left-container" id="timelinecontainer">
                <img src="../../assets/images/rupee.png" alt="" srcset="">
                <div class="text-box">
                    <h2>Referral amount generated</h2>
                    <p>Brand owners and Ad campaigns will generate the referral profit for the promotion using their
                        algorithms
                        and will settle to our accounts only when the order is successful.</p>
                </div>
            </div>

            <div class="container right-container" id="timelinecontainer">
                <img src="../../assets/images/donate.png" alt="" srcset="">
                <div class="text-box">
                    <h2>Share to Pet Rescue</h2>
                    <p>As soon as the amount settled, the share will be donated to the Pet Rescue NGOs, Recognized
                        Rescue
                        Groups
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="text-center">
    <button type="button" class="btn btn-dark btn-lg" [routerLink]="['']">Back to Home Page</button>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>