.navbar-brand {
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        visibility: visible;
    }

}

.navbar-nav {
    flex: 1;
    padding-left: 60px;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}


.navbar-nav {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.container1 {
    background-image: url(../../assets/images/img2.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.content h1 {
    font-size: 35px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p {
    font-size: 25px;
    color: #6a7199;
}

.content {
    margin-left: 20%;
    margin-top: 10%;
    animation: moveright 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    0% {
        transform: translateX(-100px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }

}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #2194e7);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.feature-img {
    animation: zoomin 1s linear 1;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;

}

.feature-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
}

@keyframes zoomin {
    0% {
        transform: scale(0.5);
        visibility: visible;
    }

    100% {
        transform: scale(1);
        visibility: visible;
    }
}

.card {
    width: 300px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 22px;
    background: #f8fffe;
    box-shadow: 27px 27px 54px #9fc5c2,
        -27px -27px 54px #bfede8;
    align-items: center;
}