<div class="container1">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/adoption.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                DHP
            </a>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" routerLink="info/howitworks">How-it-works</a>
            </div>
        </div>
    </nav>

    <div class="row main-display">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="margin-top: 50px;">
                <div class="container">
                    <div class="content">
                        <a class="btn" routerLink="info/howitworks">How it works?</a>
                        <h1>Turn your click into rescue</h1>
                        <p>Join hands to feed the loyal</p>
                        <small style="color: #357f83;">Every purchase you make from these links will generate
                            categorized referral which will be donated to the <span style="color: #0a6f39;">Pet Rescue
                                Teams</span> and <span style="color: #0a6f39;">Recognized Groups</span></small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="container feature-img">
                    <img src="../../../assets/images/dogs.png" alt="paw" style="width: 450px; height: 450px;">
                </div>
            </div>
        </div>

        <div class=" row" style="margin-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/Flipkart-logo.png" alt="flipkart" width="100%">
                            <a href="https://ekaro.in/enkr20230701s28751473" target="_blank"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/amazon-logo.png" alt="flipkart" width="100%">
                            <a target="_blank"
                                href="https://www.amazon.in/gp/bestsellers/?ref_=nav_em_cs_bestsellers_0_1_1_2&_encoding=UTF8&tag=idlescroll-21&linkCode=ur2&linkId=31c8371a36d04d09c5e6f3663b72c7e0&camp=3638&creative=24630"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/Myntra-Logo.png" alt="flipkart" width="100%">
                            <a href="https://ekaro.in/enkr20230701s28751481" target="_blank"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/mamaearth.png" alt="flipkart" width="100%">
                            <a href="https://ekaro.in/enkr20230701s28751511" target="_blank"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/nykaa-logo.png" alt="nykaa" width="100%">
                            <a href="https://ekaro.in/enkr20230701s28753874" target="_blank"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <img src="../../assets/images/beardo-logo.png" alt="beardo" width="100%">
                            <a href="https://ekaro.in/enkr20230701s28753956" target="_blank"
                                class="btn btn-success">Click to Redirect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>